// Base
@import './base/reset';

// Sass-utils
@import './sass-utils/variables';
@import './sass-utils/disable-mob-hover';
@import './sass-utils/global';

// UI
// UI / Buttons
@import '../ui/buttons/epic/epic-btn.scss';
@import '../ui/buttons/shiny/shiny-btn.scss';
@import '../ui/buttons/ripple/ripple-btn.scss';

// UI / DROPDOWN
@import '../ui/dropdown/dropdown.scss';

//Components
@import './components/overlay';
@import './components/burger';

// Layouts
@import './layouts/header';
@import './layouts/footer';
@import './layouts/hero';
@import './layouts/search';
@import './layouts/about';

.main-hero {
  background: $darkBlueGradient;
  min-height: 290px;
  &__container {
    min-height: 290px;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
      align-items: center;
      justify-content: center;
    }
  }
  &__title {
    margin-top: auto;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.03em;
    color: $light;
    @media screen and (max-width: 768px) {
      margin-top: 70px;
      font-size: 35px;
    }
    @media screen and (max-width: 475px) {
      font-size: 30px;
    }
  }
}

.all {
  &__container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 64px;
    padding-bottom: 88px;
  }
  &__text {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: $gray;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__nums {
    margin-left: 5px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__num {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: $gray;
    & > span {
      &:not(:last-child) {
        font-weight: 500;
      }
    }
  }
}

.dots {
  margin-left: 20px;
  margin-bottom: 32px;
  display: flex;
  gap: 32px;
  &__row {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      background-color: $aqua;
      border-radius: 50%;
    }
  }

  &__link {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: $gray;
    transition: color 0.2s ease-in-out;
    @include hover {
      color: $apricot;
    }
  }

  &__link--blue {
    color: #2da4db;
  }
}
