<section class="search">
  <div class="search__container">
    <div class="search__info">
      <h2 class="search__title">
        Canadian Pharmacy Online&nbsp;&mdash; Over&nbsp;7 Years
        of&nbsp;International Level
      </h2>
      <p class="search__text">
        Our Canadian pharmacy allows you to&nbsp;order medications from the
        comfort of&nbsp;your home or&nbsp;workplace, at&nbsp;a&nbsp;time most
        suitable for you. We&nbsp;guarantee a&nbsp;secure transaction process,
        accepting a&nbsp;wide range of&nbsp;credit cards for your convenience.
        Many people spend excessive amounts each month to&nbsp;maintain their
        health. No&nbsp;Canadian or&nbsp;American should have to&nbsp;suffer
        or&nbsp;face adverse circumstances simply because they can&rsquo;t
        afford essential prescription medications.
      </p>
      <p class="search__text">
        Rising drug costs also impact those with comprehensive health insurance,
        as&nbsp;high medication prices drive up&nbsp;insurance premiums, making
        obtaining health coverage increasingly costly and challenging.
        We&nbsp;are committed to&nbsp;addressing these issues head-on
        at&nbsp;the Canadian pharmacy.
      </p>
      <div class="search__field">
        <input type="text" class="search__input"></input>
        <button class="search__search"></button>
      </div>
    </div>
    <div class="search__nav">
      <div class="search__icon">
        <img src="./assets/img/icons/best.svg" alt="">
      </div>
      <ul class="search__list">
        <li class="search__item"><a href="#" class="search__link">
          <span>Cialis</span>
          <span>(Tadalafil)</span>
        </a></li>
        <li class="search__item"><a href="#" class="search__link">
          <span>Plavix</span>
          <span>(Clopidogrel)</span>
        </a></li>
        <li class="search__item"><a href="#" class="search__link">
          <span>Flagyl</span>
          <span>(Metronidazole)</span>
        </a></li>
        <li class="search__item"><a href="#" class="search__link">
          <span>Biaxin</span>
          <span>(Clarithromycin)</span>
        </a></li>
        <li class="search__item"><a href="#" class="search__link">
          <span>Levitra</span>
          <span>(Vardenafil)</span>
        </a></li>
        

      </ul>
      <a href="#" class="search__btn">More Products</a>
    </div>
  </div>
</section>
