<section class="about">
  <div class="search">
    <div class="search__container">
      <div class="search__info">
        <h1 class="search__title">
          Canadian Pharmacy Online&nbsp;&mdash; Over&nbsp;7 Years
          of&nbsp;International Level
        </h1>
        <div class="search__text-wrapper">
          <p class="search__text">
            Our Canadian pharmacy allows you to&nbsp;order medications from the
            comfort of&nbsp;your home or&nbsp;workplace, at&nbsp;a&nbsp;time
            most suitable for you. We&nbsp;guarantee a&nbsp;secure transaction
            process, accepting a&nbsp;wide range of&nbsp;credit cards for your
            convenience. Many people spend excessive amounts each month
            to&nbsp;maintain their health. No&nbsp;Canadian or&nbsp;American
            should have to&nbsp;suffer or&nbsp;face adverse circumstances simply
            because they can&rsquo;t afford essential prescription medications.
          </p>
          <p class="search__text">
            Rising drug costs also impact those with comprehensive health
            insurance, as&nbsp;high medication prices drive up&nbsp;insurance
            premiums, making obtaining health coverage increasingly costly and
            challenging. We&nbsp;are committed to&nbsp;addressing these issues
            head-on at&nbsp;the Canadian pharmacy.
          </p>
        </div>
        <div class="search__field">
          <input type="text" class="search__input" />
          <button class="search__search"></button>
        </div>
      </div>
      <div class="search__nav">
        <div class="search__icon">
          <img src="./assets/img/icons/best.svg" alt="" />
        </div>
        <ul class="search__list">
          <li class="search__item">
            <a href="#" class="search__link">
              <span>Cialis</span>
              <span>(Tadalafil)</span>
            </a>
          </li>
          <li class="search__item">
            <a href="#" class="search__link">
              <span>Plavix</span>
              <span>(Clopidogrel)</span>
            </a>
          </li>
          <li class="search__item">
            <a href="#" class="search__link">
              <span>Flagyl</span>
              <span>(Metronidazole)</span>
            </a>
          </li>
          <li class="search__item">
            <a href="#" class="search__link">
              <span>Biaxin</span>
              <span>(Clarithromycin)</span>
            </a>
          </li>
          <li class="search__item">
            <a href="#" class="search__link">
              <span>Levitra</span>
              <span>(Vardenafil)</span>
            </a>
          </li>
        </ul>
        <a href="#" class="search__btn epic-btn">
          <span>More Products</span>
          <span>More Products</span>
        </a>
      </div>
    </div>
  </div>

  <div class="about__container">
    <div class="about__item">
      <h2 class="about__title title-2">Our Objective</h2>
      <p class="about__text">
        It&rsquo;s distressing to&nbsp;see underprivileged populations
        in&nbsp;the USA struggling with illnesses that are entirely treatable
        with affordable medications. For instance, a&nbsp;drug like Albendazole,
        typically prescribed for parasitic infections, can cost
        up&nbsp;to&nbsp;$500 per course, making it&nbsp;unattainable for many
        who desperately need&nbsp;it. Our objective is&nbsp;not only
        to&nbsp;significantly reduce the cost of&nbsp;drugs like Albendazole,
        Cialis, Amoxicillin, and Viagra, but also to&nbsp;introduce pricing
        transparency, so&nbsp;customers can be&nbsp;confident they&rsquo;re
        receiving a&nbsp;fair deal.
      </p>
    </div>
    <div class="about__item">
      <h2 class="about__title title-2">
        Unparalleled Pricing Transparency and Affordability
      </h2>
      <p class="about__text">
        Our pricing model is&nbsp;straightforward and transparent: our cost plus
        a&nbsp;15% markup, plus any pharmacy fees. For example, our cost for
        Albendazole is&nbsp;$26.08 per course. After adding the&nbsp;15% markup
        to&nbsp;cover operational costs and investments in&nbsp;disrupting the
        drug pricing for as&nbsp;many medications as&nbsp;possible, the base
        price becomes $30. We&nbsp;then add the actual cost of&nbsp;$3.00 that
        our pharmacy partners charge to&nbsp;prepare and provide your
        prescription. This results in&nbsp;a&nbsp;final price of&nbsp;$33,
        significantly lower than what&rsquo;s available in&nbsp;the market. All
        our products follow this pricing structure, ensuring complete
        transparency.
      </p>
    </div>
    <div class="about__item">
      <h2 class="about__title title-2">As We Grow, You Save</h2>
      <p class="about__text">
        As&nbsp;Canadian drugstore grows and our costs decrease, we&rsquo;re
        dedicated to&nbsp;passing those savings on&nbsp;to&nbsp;you, our valued
        customer. By&nbsp;supporting our service, you&rsquo;re actively
        participating in&nbsp;the movement to&nbsp;disrupt the pharmaceutical
        industry and put an&nbsp;end to&nbsp;excessive drug prices.
      </p>
      <p class="about__text about__text--bold">
        Thank you for your support, and please share your thoughts and feedback
        with&nbsp;us!
      </p>
    </div>
  </div>
</section>
