<footer class="footer">
  <div class="footer__container">
    <div class="footer__info">
      <a href="/" class="footer__logo">
        <img src="./assets/img/icons/logoBig.svg" alt="logo" />
      </a>
      <div class="footer__adress">
        <span>Affordable Canadian Pharmacy. 16745 West</span>
        <span>Bernardo Drive Suite 200 San Diego, CA 92127</span>
      </div>
      <a href="mailto:info@conatuspharma.com" class="footer__email">
        <button class="footer__btn">
          <svg
            width="18"
            height="12"
            viewBox="0 0 18 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M17.7468 1.11687C17.4176 0.562529 16.8213 0.222076 16.1766 0.220459H1.82345C0.816398 0.220494 3.51563e-05 1.03682 0 2.04387V9.95607C0.001125 10.9627 0.816855 11.7784 1.82345 11.7795H16.1766C17.1832 11.7783 17.9989 10.9626 18 9.95607V2.04387C18.0002 1.71776 17.9128 1.39756 17.7468 1.11687ZM16.1766 1.46306C16.3022 1.46256 16.4246 1.50313 16.525 1.57862L15.9294 3.68669C15.5816 4.91867 14.4574 5.76935 13.1773 5.76917H4.82273C3.5427 5.7691 2.41857 4.91849 2.0706 3.68665L1.47498 1.57851C1.57546 1.50306 1.69784 1.46253 1.82348 1.46302L16.1766 1.46306ZM16.1766 10.5369H1.82345C1.50282 10.5365 1.24298 10.2767 1.24263 9.95607V4.91037C1.96689 6.20799 3.33671 7.01201 4.82273 7.0118H13.1773C14.6634 7.01226 16.0333 6.20813 16.7574 4.9103V9.95607C16.757 10.2767 16.4972 10.5365 16.1766 10.5369Z"
              fill="white"
            />
          </svg>
        </button>
        <div class="footer__link-text">
          <span>Email</span>
          <span>info@conatuspharma.com</span>
        </div>
      </a>
    </div>
    <div class="footer__nav">
      <span class="footer__title">Company</span>
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">Strategy</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Careers</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Our Investors</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Blog</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Partnered Programs</a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="footer__copyright">
    <div class="footer__copy-item">Copyright © 2023 Conatuspharma.com</div>
    <div class="footer__copy-item">Privacy Policy</div>
    <div class="footer__copy-item">Terms of Use</div>
  </ul>
</footer>
