<header class="header">
  <div class="header__container">
    <a href="/" class="header__logo"
      ><img src="assets/img/icons/logo.svg" alt="logo"
    /></a>
    <div class="header__navigation">
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="#" class="nav__link duplicate">
              <div class="v-text-1 v-text">
                <span>h</span>
                <span>o</span>
                <span>m</span>
                <span>e</span>
              </div>
              <div class="v-text-2 v-text">
                <span>h</span>
                <span>o</span>
                <span>m</span>
                <span>e</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>w</span>
                <span>h</span>
                <span>o</span>
                <span>&nbsp</span>
                <span>w</span>
                <span>e</span>
                <span>&nbsp</span>
                <span>a</span>
                <span>r</span>
                <span>e</span>
              </div>
              <div class="v-text v-text-2">
                <span>w</span>
                <span>h</span>
                <span>o</span>
                <span>&nbsp</span>
                <span>w</span>
                <span>e</span>
                <span>&nbsp</span>
                <span>a</span>
                <span>r</span>
                <span>e</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>d</span>
                <span>r</span>
                <span>u</span>
                <span>g</span>
                <span>&nbsp</span>
                <span>s</span>
                <span>e</span>
                <span>a</span>
                <span>r</span>
                <span>ch</span>
              </div>
              <div class="v-text v-text-2">
                <span>d</span>
                <span>r</span>
                <span>u</span>
                <span>g</span>
                <span>&nbsp</span>
                <span>s</span>
                <span>e</span>
                <span>a</span>
                <span>r</span>
                <span>ch</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <button class="dropdown" data-dropdown>
              <span class="selected">faq section</span>
              <ul class="sub-menu">
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
              </ul>
            </button>
          </li>
          <li class="nav__item">
            <button class="dropdown" data-dropdown>
              <span class="selected">services</span>
              <ul class="sub-menu">
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
                <li class="sub-menu__item"><a href="#">Apple</a></li>
              </ul>
            </button>
          </li>
          <!-- Mobile Dropdown -->

          <!-- Mobile Dropdown -->
          <li class="nav__item">
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>p</span>
                <span>r</span>
                <span>o</span>
                <span>g</span>
                <span>r</span>
                <span>a</span>
                <span>m</span>
                <span>s</span>
              </div>
              <div class="v-text v-text-2">
                <span>p</span>
                <span>r</span>
                <span>o</span>
                <span>g</span>
                <span>r</span>
                <span>a</span>
                <span>m</span>
                <span>s</span>
              </div>
            </a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link duplicate">
              <div class="v-text v-text-1">
                <span>c</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>a</span>
                <span>c</span>
                <span>t</span>
                <span>&nbsp</span>
                <span>u</span>
                <span>s</span>
              </div>
              <div class="v-text v-text-2">
                <span>c</span>
                <span>o</span>
                <span>n</span>
                <span>t</span>
                <span>a</span>
                <span>c</span>
                <span>t</span>
                <span>&nbsp</span>
                <span>u</span>
                <span>s</span>
              </div>
            </a>
          </li>
        </ul>
      </nav>
      <button class="header__btn">
        <svg
          width="38"
          height="24"
          viewBox="0 0 38 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="38" height="24" rx="12" fill="white" />
          <circle class="dot1 dot" cx="11" cy="12" r="3" fill="#90DCFF" />
          <circle class="dot2 dot" cx="19" cy="12" r="3" fill="#63C1ED" />
          <circle class="dot3 dot" cx="27" cy="12" r="3" fill="#2DA4DB" />
        </svg>
        <span> Live chat support </span>
      </button>
    </div>
    <div class="burger">
      <span></span>
    </div>
  </div>
</header>
