<section class="hero">
  <div class="hero__container">
    <div class="hero__join">
      <div class="hero__number">4</div>
      <div class="hero__link-wrapper">
        <p class="hero__brief">
          <span>easy steps</span>
          <span>for <span class="blue-text">medicines</span></span>
        </p>
        <div class="hero__promocode">
          <span class="hero__discount">10% OFF</span>
          <span class="hero__code">“PHARMACY10”</span>
          <button class="hero__copy-btn ripple-btn"></button>
        </div>
      </div>
    </div>
    <div class="hero__info">
      <h1 class="hero__title">A&nbsp;Reliable Source of&nbsp;Canadian Drugs</h1>
      <p class="hero__text">
        Since the inception of&nbsp;our mail-order business, our Canadian
        pharmacy has experienced remarkable growth and innovation.
        At&nbsp;Innocrin, we&nbsp;take pride in&nbsp;providing not only
        cost-effective but also secure and dependable prescription drugs
        to&nbsp;our esteemed clientele. Our dedication lies in&nbsp;offering the
        most competitive prices in&nbsp;the market while ensuring a&nbsp;smooth
        and delightful experience for our customers.
      </p>
      <div class="hero__buttons">
        <button class="hero__btn btn">Why Our Prices Lower</button>
        <button class="hero__btn btn">Savings and Discounts</button>
      </div>
    </div>
  </div>
</section>
