<section class="hero">
  <div class="hero__container">
    <div class="hero__join">
      <div class="hero__number">4</div>

      <div class="hero__link-wrapper">
        <p class="hero__brief">
          <span class="hero__mobile-number">4</span>
          <span>easy steps</span>
          <span>for <span class="blue-text">medicines</span></span>
        </p>
        <div class="hero__promocode">
          <span class="hero__discount">10% OFF</span>
          <span class="hero__code">“PHARMACY10”</span>
          <button
            class="hero__copy-btn"
            aria-label="click to copy promocode"
          ></button>
        </div>
      </div>
    </div>
    <div class="hero__info">
      <div class="hero__text-wrapper">
        <p class="hero__title">A&nbsp;Reliable Source of&nbsp;Canadian Drugs</p>
        <p class="hero__text">
          Since the inception of&nbsp;our mail-order business, our Canadian
          pharmacy has experienced remarkable growth and innovation.
          At&nbsp;Innocrin, we&nbsp;take pride in&nbsp;providing not only
          cost-effective but also secure and dependable prescription drugs
          to&nbsp;our esteemed clientele. Our dedication lies in&nbsp;offering
          the most competitive prices in&nbsp;the market while ensuring
          a&nbsp;smooth and delightful experience for our customers.
        </p>
        <div class="hero__buttons">
          <button class="hero__btn btn">
            <span>Why Our Prices Lower</span>
            <svg
              width="21"
              height="13"
              viewBox="0 0 21 13"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.5 0.550293L19.7989 5.94979M19.7989 5.94979L14.5 11.5503M19.7989 5.94979L-8.14008e-05 5.94979"
                stroke="#1E1C7F"
                stroke-width="1.5"
              />
            </svg>
          </button>
          <button class="hero__btn btn shiny-btn">Savings and Discounts</button>
        </div>
      </div>
    </div>
  </div>
</section>
