//Burger Colors
$burgerColor: #fff;
$burgerActiveColor: #222;

// Main Colors
$darkBlue: #100b6f;
$aqua: #90dcff;

// extra colors
$apricot: #fbceb1;
$light: #fff;
$dark: #222;

// gradients
$darkBlueGradient: linear-gradient(242.4deg, #0c076b 18.11%, #4247be 94.12%);
$aquaGradient: linear-gradient(
  207.96deg,
  rgba(144, 220, 255, 0.42) -29.19%,
  #91dcff 37.1%
);
