.footer {
  padding-top: 40px;
  background: $darkBlueGradient;

  &__container {
    display: flex;
    gap: 380px;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    padding-bottom: 80px;
    @media screen and (max-width: 992px) {
      gap: 0;
      justify-content: space-between;
    }
    @media screen and (max-width: 575px) {
      flex-direction: column;
      gap: 40px;
      padding-bottom: 40px;
    }
  }

  &__logo {
    margin-bottom: 42px;
    display: inline-block;
    @media screen and (max-width: 992px) {
      margin-bottom: 25px;
    }
  }

  &__adress {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $light;
  }

  &__email {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__btn {
    display: grid;
    place-items: center;
    width: 48px;
    height: 48px;
    background-color: #4247a6;
  }

  &__link-text {
    display: flex;
    flex-direction: column;
    & > span {
      &:first-child {
        font-family: 'Rubik';
        font-weight: 300;
        font-size: 17px;
        line-height: 26px;
        letter-spacing: -0.03em;
        color: #b0adff;
      }
      &:last-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: $light;
      }
    }
  }
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }
  &__title {
    margin-top: -5px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: $aqua;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
  }
  &__link {
    font-family: 'Plus Jakarta Display';
    font-weight: 400;
    font-size: 20px;
    color: $light;
  }

  &__copyright {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 86px;
    @media screen and (max-width: 768px) {
      gap: 10px;
    }
    justify-content: center;
    background: rgba(13, 8, 108, 0.7);
    backdrop-filter: blur(3px);
  }

  &__copy-item {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $light;
    @media screen and (max-width: 768px) {
      font-size: 10px;
    }
    @media screen and (max-width: 375px) {
      font-size: 8px;
    }

    &:not(:last-child) {
      &::after {
        @media screen and (max-width: 768px) {
          content: none;
        }
        content: '';
        position: absolute;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);
        background: #2da4db;
        width: 6px;
        border-radius: 50%;
        height: 6px;
      }
    }
    &:first-child {
      color: #b0adff;
    }
  }
}
