.hero {
  padding: 200px 0 488px;
  background: $darkBlueGradient;
  @media screen and (max-width: 1200px) {
    padding-top: 120px;
  }

  &__container {
    max-width: 1480px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1340px) {
      flex-direction: column;
      align-items: center;
      gap: 80px;
    }
  }

  &__join {
    position: relative;
    max-width: 900px;
    display: flex;
    gap: 25px;
    @media screen and (max-width: 575px) {
    }
  }
  &__mobile-number {
    display: none;
    @media screen and (max-width: 575px) {
      display: inline;
    }
  }
  &__number {
    margin-top: 150px;
    @media screen and (max-width: 1340px) {
      font-size: 300px;
      margin-top: 120px;
    }
    @media screen and (max-width: 640px) {
      font-size: 150px;
      margin-top: 80px;
    }
    @media screen and (max-width: 575px) {
      display: none;
    }

    line-height: 0;
    font-weight: 400;
    font-size: 400px;
    letter-spacing: -0.03em;
    color: #fff;
  }

  &__link-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1340px) {
      gap: 50px;
    }
  }

  &__brief {
    flex-grow: 1;
    font-weight: 400;
    font-size: 72px;
    @media screen and (max-width: 1340px) {
      font-size: 60px;
      max-width: 400px;
    }
    @media screen and (max-width: 575px) {
      font-size: 45px;
    }
    line-height: 1.2;
    letter-spacing: -0.03em;
    color: #fff;
    .blue-text {
      color: $aqua;
    }
  }

  &__promocode {
    display: flex;
    align-items: center;
    gap: 60px;
    @media screen and (max-width: 1340px) {
      gap: 40px;
    }
    @media screen and (max-width: 575px) {
      gap: 0;
      justify-content: space-between;
      width: 100%;
    }
    width: max-content;
    background: linear-gradient(
      91.08deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0) 105.37%,
      rgba(255, 255, 255, 0.02) 105.37%
    );
    backdrop-filter: blur(4.5px);
    padding-left: 24px;
  }

  &__discount {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    color: $aqua;
    flex-shrink: 0;
    @media screen and (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__code {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    @media screen and (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__copy-btn {
    flex-shrink: 0;
    position: relative;
    width: 64px;
    height: 64px;
    background-color: $darkBlue;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 20px;
      height: 20px;
      background: url(../img/icons/copy.svg) no-repeat center/cover;
    }
  }

  &__info {
    display: flex;
    max-width: 540px;
  }

  &__text-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__title {
    padding-top: 10px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: -0.03em;
    color: $aqua;
  }

  &__text {
    margin-bottom: 82px;
    @media screen and (max-width: 1200px) {
      margin-bottom: 60px;
    }
    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
    flex-grow: 1;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #b0adff;
  }

  &__buttons {
    display: flex;
    gap: 48px;
    @media screen and (max-width: 575px) {
      gap: 20px;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  &__btn {
    padding: 20px 34px;

    font-weight: 500;
    font-size: 16px;
    color: #fff;
    @media screen and (max-width: 575px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:active {
      scale: 0.97;
    }
    &:first-child {
      position: relative;
      z-index: 1;
      padding: 20px 20px;
      color: $darkBlue;
      display: flex;
      align-items: center;
      gap: 17px;
      background-color: #fff;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 100%;
        background-color: $aqua;
        z-index: -1;
        transition: width 0.3s linear;
      }
    }

    &:last-child {
      border: 3px solid #fff;
      transition: 0.3s linear all;
    }

    @include hover {
      &:first-child {
        &::before {
          width: 100%;
        }
      }
    }
  }
}
